USE [master]
GO
/****** Object:  Database [EmploymentBureau]    Script Date: 10.03.2026 9:00:46 ******/
CREATE DATABASE [EmploymentBureau]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmploymentBureau', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmploymentBureau.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmploymentBureau_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmploymentBureau_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmploymentBureau].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmploymentBureau]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] NOT NULL,
	[FullName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateResponses]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateResponses](
	[ResponseID] [int] IDENTITY(1,1) NOT NULL,
	[CandidateID] [int] NOT NULL,
	[VacancyID] [int] NOT NULL,
	[ResumeID] [int] NULL,
	[CoverLetter] [text] NULL,
	[Status] [varchar](50) NULL,
	[ResponseDate] [datetime] NULL,
	[EmployerComment] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[CandidateID] [int] NOT NULL,
	[FullName] [varchar](255) NOT NULL,
	[Profession] [varchar](100) NULL,
	[ExperienceYears] [int] NULL,
	[Education] [varchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployerResponses]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployerResponses](
	[EmployerResponseID] [int] IDENTITY(1,1) NOT NULL,
	[EmployerID] [int] NOT NULL,
	[CandidateID] [int] NOT NULL,
	[VacancyID] [int] NULL,
	[ResumeID] [int] NULL,
	[Message] [text] NULL,
	[Status] [varchar](50) NULL,
	[ResponseDate] [datetime] NULL,
	[InterviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployerResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employers]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employers](
	[EmployerID] [int] NOT NULL,
	[CompanyName] [varchar](255) NOT NULL,
	[INN] [varchar](12) NOT NULL,
	[ContactPerson] [varchar](255) NULL,
	[Industry] [varchar](100) NULL,
	[CompanyDescription] [text] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resumes]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resumes](
	[ResumeID] [int] IDENTITY(1,1) NOT NULL,
	[CandidateID] [int] NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[ResumeText] [text] NOT NULL,
	[FilePath] [varchar](500) NULL,
	[FileName] [varchar](255) NULL,
	[FileSize] [int] NULL,
	[Skills] [text] NULL,
	[SalaryExpectation] [decimal](10, 2) NULL,
	[EmploymentType] [varchar](50) NULL,
	[WorkSchedule] [varchar](50) NULL,
	[IsVisible] [bit] NULL,
	[IsPrimary] [bit] NULL,
	[Status] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResumeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[RegistrationDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacancies]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacancies](
	[VacancyID] [int] IDENTITY(1,1) NOT NULL,
	[EmployerID] [int] NOT NULL,
	[Position] [varchar](255) NOT NULL,
	[Description] [text] NULL,
	[Requirements] [text] NULL,
	[SalaryFrom] [decimal](10, 2) NULL,
	[SalaryTo] [decimal](10, 2) NULL,
	[EmploymentType] [varchar](50) NULL,
	[ExperienceRequired] [int] NULL,
	[City] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ActiveCandidates]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Создание представлений для удобства
CREATE VIEW [dbo].[vw_ActiveCandidates] AS
SELECT 
    u.UserID,
    c.FullName,
    u.Email,
    u.Phone,
    c.Profession,
    c.ExperienceYears,
    c.Education
FROM Users u
JOIN Candidates c ON u.UserID = c.CandidateID
WHERE u.IsActive = 1;
GO
/****** Object:  View [dbo].[vw_ActiveResumes]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ActiveResumes] AS
SELECT 
    r.ResumeID,
    r.Title,
    c.FullName,
    c.Profession,
    c.ExperienceYears,
    r.Skills,
    r.SalaryExpectation,
    r.CreatedDate
FROM Resumes r
JOIN Candidates c ON r.CandidateID = c.CandidateID
JOIN Users u ON c.CandidateID = u.UserID
WHERE r.IsVisible = 1 
AND r.Status = 'Активно'
AND u.IsActive = 1;
GO
/****** Object:  View [dbo].[vw_ActiveVacancies]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ActiveVacancies] AS
SELECT 
    v.VacancyID,
    v.Position,
    e.CompanyName,
    v.SalaryFrom,
    v.SalaryTo,
    v.City,
    v.CreatedDate
FROM Vacancies v
JOIN Employers e ON v.EmployerID = e.EmployerID
WHERE v.IsActive = 1;
GO
INSERT [dbo].[Admins] ([AdminID], [FullName]) VALUES (1, N'Главный Администратор')
INSERT [dbo].[Admins] ([AdminID], [FullName]) VALUES (8, N'Модератор Контента')
INSERT [dbo].[Admins] ([AdminID], [FullName]) VALUES (9, N'Техническая Поддержка')
GO
SET IDENTITY_INSERT [dbo].[CandidateResponses] ON 

INSERT [dbo].[CandidateResponses] ([ResponseID], [CandidateID], [VacancyID], [ResumeID], [CoverLetter], [Status], [ResponseDate], [EmployerComment]) VALUES (1, 2, 2, 1, N'Здравствуйте! Интересует вакансия дизайнера. Хотел бы расширить свои навыки в области дизайна интерфейсов.', N'Рассматривается', CAST(N'2026-03-10T08:59:15.703' AS DateTime), N'Нестандартный случай, требуется собеседование')
INSERT [dbo].[CandidateResponses] ([ResponseID], [CandidateID], [VacancyID], [ResumeID], [CoverLetter], [Status], [ResponseDate], [EmployerComment]) VALUES (2, 3, 3, 2, N'Добрый день! Имею опыт управления дизайн-проектами, хочу развиваться в направлении IT-менеджмента.', N'Приглашен на собеседование', CAST(N'2026-03-10T08:59:15.727' AS DateTime), N'Сильный кандидат, назначить встречу на понедельник')
INSERT [dbo].[CandidateResponses] ([ResponseID], [CandidateID], [VacancyID], [ResumeID], [CoverLetter], [Status], [ResponseDate], [EmployerComment]) VALUES (3, 4, 1, 3, N'Приветствую! Ранее работал разработчиком, сейчас менеджер. Рассматриваю возврат к разработке на позицию Tech Lead.', N'Отклонено', CAST(N'2026-03-10T08:59:15.730' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CandidateResponses] OFF
GO
INSERT [dbo].[Candidates] ([CandidateID], [FullName], [Profession], [ExperienceYears], [Education], [CreatedDate], [UpdatedDate]) VALUES (2, N'Иванов Иван Иванович', N'Разработчик C# / .NET', 5, N'МГТУ им. Баумана, инженер-программист', CAST(N'2026-03-10T08:44:17.563' AS DateTime), CAST(N'2026-03-10T08:44:17.563' AS DateTime))
INSERT [dbo].[Candidates] ([CandidateID], [FullName], [Profession], [ExperienceYears], [Education], [CreatedDate], [UpdatedDate]) VALUES (3, N'Петрова Светлана Сергеевна', N'UX/UI Дизайнер', 3, N'СПбГУ, дизайнер', CAST(N'2026-03-10T08:44:17.563' AS DateTime), CAST(N'2026-03-10T08:44:17.563' AS DateTime))
INSERT [dbo].[Candidates] ([CandidateID], [FullName], [Profession], [ExperienceYears], [Education], [CreatedDate], [UpdatedDate]) VALUES (4, N'Сидоров Алексей Петрович', N'Project Manager', 7, N'ВШЭ, менеджмент', CAST(N'2026-03-10T08:44:17.563' AS DateTime), CAST(N'2026-03-10T08:44:17.563' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EmployerResponses] ON 

INSERT [dbo].[EmployerResponses] ([EmployerResponseID], [EmployerID], [CandidateID], [VacancyID], [ResumeID], [Message], [Status], [ResponseDate], [InterviewDate]) VALUES (3, 7, 4, 1, 3, N'Алексей, спасибо за интерес. Однако мы ищем разработчика с актуальным техническим бэкграундом, без длительного перерыва в кодинге.', N'Отклонено', CAST(N'2026-03-10T08:59:15.880' AS DateTime), NULL)
INSERT [dbo].[EmployerResponses] ([EmployerResponseID], [EmployerID], [CandidateID], [VacancyID], [ResumeID], [Message], [Status], [ResponseDate], [InterviewDate]) VALUES (6, 7, 2, 3, 1, N'Иван, ищем Tech Lead для команды из 5 разработчиков. Ваш опыт и технический бэкграунд отлично подходят. Готовы обсудить?', N'Рассматривается', CAST(N'2026-03-10T08:59:15.900' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[EmployerResponses] OFF
GO
INSERT [dbo].[Employers] ([EmployerID], [CompanyName], [INN], [ContactPerson], [Industry], [CompanyDescription], [CreatedDate], [UpdatedDate]) VALUES (5, N'TechCorp Inc.', N'7701234567', N'Смирнов Дмитрий Владимирович', N'Информационные технологии', N'Крупная IT-компания, разработка ПО', CAST(N'2026-03-10T08:44:17.590' AS DateTime), CAST(N'2026-03-10T08:44:17.590' AS DateTime))
INSERT [dbo].[Employers] ([EmployerID], [CompanyName], [INN], [ContactPerson], [Industry], [CompanyDescription], [CreatedDate], [UpdatedDate]) VALUES (6, N'Creative Studio', N'7809876543', N'Козлова Анна Михайловна', N'Дизайн и креатив', N'Студия веб-дизайна и брендинга', CAST(N'2026-03-10T08:44:17.590' AS DateTime), CAST(N'2026-03-10T08:44:17.590' AS DateTime))
INSERT [dbo].[Employers] ([EmployerID], [CompanyName], [INN], [ContactPerson], [Industry], [CompanyDescription], [CreatedDate], [UpdatedDate]) VALUES (7, N'IT Solutions', N'7705557777', N'Морозов Павел Сергеевич', N'Информационные технологии', N'Аутсорсинг IT-услуг', CAST(N'2026-03-10T08:44:17.590' AS DateTime), CAST(N'2026-03-10T08:44:17.590' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Resumes] ON 

INSERT [dbo].[Resumes] ([ResumeID], [CandidateID], [Title], [ResumeText], [FilePath], [FileName], [FileSize], [Skills], [SalaryExpectation], [EmploymentType], [WorkSchedule], [IsVisible], [IsPrimary], [Status], [CreatedDate], [UpdatedDate]) VALUES (1, 2, N'Senior .NET Developer', N'Опыт разработки на C# более 5 лет...', NULL, NULL, NULL, N'C#, .NET, ASP.NET Core, SQL, Entity Framework, Docker', CAST(150000.00 AS Decimal(10, 2)), N'Полная занятость', N'Полный день', 1, 1, N'Активно', CAST(N'2026-03-10T08:44:17.570' AS DateTime), CAST(N'2026-03-10T08:44:17.570' AS DateTime))
INSERT [dbo].[Resumes] ([ResumeID], [CandidateID], [Title], [ResumeText], [FilePath], [FileName], [FileSize], [Skills], [SalaryExpectation], [EmploymentType], [WorkSchedule], [IsVisible], [IsPrimary], [Status], [CreatedDate], [UpdatedDate]) VALUES (2, 3, N'UX/UI Designer', N'Дизайн мобильных и веб-приложений...', NULL, NULL, NULL, N'Figma, Adobe XD, Photoshop, Sketch, Prototyping', CAST(100000.00 AS Decimal(10, 2)), N'Полная занятость', N'Удаленная работа', 1, 1, N'Активно', CAST(N'2026-03-10T08:44:17.570' AS DateTime), CAST(N'2026-03-10T08:44:17.570' AS DateTime))
INSERT [dbo].[Resumes] ([ResumeID], [CandidateID], [Title], [ResumeText], [FilePath], [FileName], [FileSize], [Skills], [SalaryExpectation], [EmploymentType], [WorkSchedule], [IsVisible], [IsPrimary], [Status], [CreatedDate], [UpdatedDate]) VALUES (3, 4, N'Project Manager IT', N'Управление IT-проектами, Agile/Scrum...', NULL, NULL, NULL, N'Agile, Scrum, Jira, Confluence, Team Management', CAST(180000.00 AS Decimal(10, 2)), N'Полная занятость', N'Полный день', 1, 1, N'Активно', CAST(N'2026-03-10T08:44:17.570' AS DateTime), CAST(N'2026-03-10T08:44:17.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[Resumes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Администратор системы')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'Candidate', N'Соискатель работы')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Employer', N'Работодатель')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [RoleID], [Email], [Phone], [PasswordHash], [RegistrationDate], [IsActive]) VALUES (1, 1, N'admin@buro.ru', N'+7(999)000-00-00', N'admin123', CAST(N'2026-03-10T08:44:17.267' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [RoleID], [Email], [Phone], [PasswordHash], [RegistrationDate], [IsActive]) VALUES (2, 2, N'ivanov@mail.ru', N'+7(916)111-11-11', N'password123', CAST(N'2026-03-10T08:44:17.563' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [RoleID], [Email], [Phone], [PasswordHash], [RegistrationDate], [IsActive]) VALUES (3, 2, N'petrova@mail.ru', N'+7(917)222-22-22', N'password123', CAST(N'2026-03-10T08:44:17.563' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vacancies] ON 

INSERT [dbo].[Vacancies] ([VacancyID], [EmployerID], [Position], [Description], [Requirements], [SalaryFrom], [SalaryTo], [EmploymentType], [ExperienceRequired], [City], [IsActive], [CreatedDate], [UpdatedDate]) VALUES (1, 5, N'Разработчик C# / .NET', N'Разработка корпоративных приложений на .NET Core', N'Опыт работы от 3 лет, C#, ASP.NET Core, SQL', CAST(120000.00 AS Decimal(10, 2)), CAST(180000.00 AS Decimal(10, 2)), N'Полная занятость', 3, N'Москва', 1, CAST(N'2026-03-10T08:44:17.590' AS DateTime), CAST(N'2026-03-10T08:44:17.590' AS DateTime))
INSERT [dbo].[Vacancies] ([VacancyID], [EmployerID], [Position], [Description], [Requirements], [SalaryFrom], [SalaryTo], [EmploymentType], [ExperienceRequired], [City], [IsActive], [CreatedDate], [UpdatedDate]) VALUES (2, 6, N'UX/UI Дизайнер', N'Создание дизайна мобильных приложений', N'Портфолио, Figma, Adobe Creative Suite', CAST(90000.00 AS Decimal(10, 2)), CAST(130000.00 AS Decimal(10, 2)), N'Полная занятость', 2, N'Санкт-Петербург', 1, CAST(N'2026-03-10T08:44:17.590' AS DateTime), CAST(N'2026-03-10T08:44:17.590' AS DateTime))
INSERT [dbo].[Vacancies] ([VacancyID], [EmployerID], [Position], [Description], [Requirements], [SalaryFrom], [SalaryTo], [EmploymentType], [ExperienceRequired], [City], [IsActive], [CreatedDate], [UpdatedDate]) VALUES (3, 7, N'Project Manager', N'Управление проектами разработки ПО', N'Опыт в IT от 5 лет, знание Agile', CAST(150000.00 AS Decimal(10, 2)), CAST(200000.00 AS Decimal(10, 2)), N'Полная занятость', 5, N'Москва', 1, CAST(N'2026-03-10T08:44:17.590' AS DateTime), CAST(N'2026-03-10T08:44:17.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[Vacancies] OFF
GO
/****** Object:  Index [UQ__Candidat__3916FC9875F861C0]    Script Date: 10.03.2026 9:00:46 ******/
ALTER TABLE [dbo].[CandidateResponses] ADD UNIQUE NONCLUSTERED 
(
	[CandidateID] ASC,
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CandidateResponses_CandidateID]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_CandidateResponses_CandidateID] ON [dbo].[CandidateResponses]
(
	[CandidateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CandidateResponses_ResumeID]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_CandidateResponses_ResumeID] ON [dbo].[CandidateResponses]
(
	[ResumeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CandidateResponses_VacancyID]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_CandidateResponses_VacancyID] ON [dbo].[CandidateResponses]
(
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Candidates_Profession]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_Candidates_Profession] ON [dbo].[Candidates]
(
	[Profession] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployerResponses_CandidateID]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_EmployerResponses_CandidateID] ON [dbo].[EmployerResponses]
(
	[CandidateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployerResponses_EmployerID]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_EmployerResponses_EmployerID] ON [dbo].[EmployerResponses]
(
	[EmployerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployerResponses_ResumeID]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_EmployerResponses_ResumeID] ON [dbo].[EmployerResponses]
(
	[ResumeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employer__C490CCF5ABE42488]    Script Date: 10.03.2026 9:00:46 ******/
ALTER TABLE [dbo].[Employers] ADD UNIQUE NONCLUSTERED 
(
	[INN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employers_INN]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_Employers_INN] ON [dbo].[Employers]
(
	[INN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Resumes_CandidateID]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_Resumes_CandidateID] ON [dbo].[Resumes]
(
	[CandidateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Resumes_IsPrimary]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_Resumes_IsPrimary] ON [dbo].[Resumes]
(
	[IsPrimary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Resumes_IsVisible]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_Resumes_IsVisible] ON [dbo].[Resumes]
(
	[IsVisible] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61608F772F9E]    Script Date: 10.03.2026 9:00:46 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053406BCBD76]    Script Date: 10.03.2026 9:00:46 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleID]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleID] ON [dbo].[Users]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vacancies_EmployerID]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_Vacancies_EmployerID] ON [dbo].[Vacancies]
(
	[EmployerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vacancies_IsActive]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_Vacancies_IsActive] ON [dbo].[Vacancies]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vacancies_Position]    Script Date: 10.03.2026 9:00:46 ******/
CREATE NONCLUSTERED INDEX [IX_Vacancies_Position] ON [dbo].[Vacancies]
(
	[Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CandidateResponses] ADD  DEFAULT ('Новый') FOR [Status]
GO
ALTER TABLE [dbo].[CandidateResponses] ADD  DEFAULT (getdate()) FOR [ResponseDate]
GO
ALTER TABLE [dbo].[Candidates] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Candidates] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[EmployerResponses] ADD  DEFAULT ('Отправлено') FOR [Status]
GO
ALTER TABLE [dbo].[EmployerResponses] ADD  DEFAULT (getdate()) FOR [ResponseDate]
GO
ALTER TABLE [dbo].[Employers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employers] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Resumes] ADD  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Resumes] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[Resumes] ADD  DEFAULT ('Активно') FOR [Status]
GO
ALTER TABLE [dbo].[Resumes] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Resumes] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Vacancies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Vacancies] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Vacancies] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([AdminID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CandidateResponses]  WITH CHECK ADD FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Candidates] ([CandidateID])
GO
ALTER TABLE [dbo].[CandidateResponses]  WITH CHECK ADD FOREIGN KEY([ResumeID])
REFERENCES [dbo].[Resumes] ([ResumeID])
GO
ALTER TABLE [dbo].[CandidateResponses]  WITH CHECK ADD FOREIGN KEY([VacancyID])
REFERENCES [dbo].[Vacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Candidates]  WITH CHECK ADD FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployerResponses]  WITH CHECK ADD FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Candidates] ([CandidateID])
GO
ALTER TABLE [dbo].[EmployerResponses]  WITH CHECK ADD FOREIGN KEY([EmployerID])
REFERENCES [dbo].[Employers] ([EmployerID])
GO
ALTER TABLE [dbo].[EmployerResponses]  WITH CHECK ADD FOREIGN KEY([ResumeID])
REFERENCES [dbo].[Resumes] ([ResumeID])
GO
ALTER TABLE [dbo].[EmployerResponses]  WITH CHECK ADD FOREIGN KEY([VacancyID])
REFERENCES [dbo].[Vacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Employers]  WITH CHECK ADD FOREIGN KEY([EmployerID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resumes]  WITH CHECK ADD FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Candidates] ([CandidateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Vacancies]  WITH CHECK ADD FOREIGN KEY([EmployerID])
REFERENCES [dbo].[Employers] ([EmployerID])
GO
/****** Object:  StoredProcedure [dbo].[CandidateApplyToVacancy]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Процедура для отклика соискателя на вакансию
CREATE PROCEDURE [dbo].[CandidateApplyToVacancy]
    @CandidateID INT,
    @VacancyID INT,
    @ResumeID INT = NULL,
    @CoverLetter TEXT = NULL
AS
BEGIN
    BEGIN TRY
        -- Если резюме не указано, используем основное резюме кандидата
        IF @ResumeID IS NULL
        BEGIN
            SELECT TOP 1 @ResumeID = ResumeID 
            FROM Resumes 
            WHERE CandidateID = @CandidateID AND IsPrimary = 1;
        END
        
        INSERT INTO CandidateResponses (CandidateID, VacancyID, ResumeID, CoverLetter)
        VALUES (@CandidateID, @VacancyID, @ResumeID, @CoverLetter);
        
        SELECT 'Success' AS Status, 'Отклик успешно отправлен' AS Message;
    END TRY
    BEGIN CATCH
        IF ERROR_NUMBER() = 2627 -- Нарушение уникальности
            SELECT 'Error' AS Status, 'Вы уже откликались на эту вакансию' AS Message;
        ELSE
            SELECT 'Error' AS Status, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdateResume]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Процедура для создания/обновления резюме
CREATE PROCEDURE [dbo].[CreateOrUpdateResume]
    @CandidateID INT,
    @Title VARCHAR(255),
    @ResumeText TEXT,
    @Skills TEXT = NULL,
    @SalaryExpectation DECIMAL(10,2) = NULL,
    @EmploymentType VARCHAR(50) = NULL,
    @WorkSchedule VARCHAR(50) = NULL,
    @IsPrimary BIT = 0,
    @FilePath VARCHAR(500) = NULL,
    @FileName VARCHAR(255) = NULL,
    @FileSize INT = NULL
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Если это основное резюме, снимаем флаг IsPrimary с других резюме кандидата
        IF @IsPrimary = 1
        BEGIN
            UPDATE Resumes 
            SET IsPrimary = 0 
            WHERE CandidateID = @CandidateID;
        END
        
        -- Создаем новое резюме
        INSERT INTO Resumes (
            CandidateID, Title, ResumeText, Skills, 
            SalaryExpectation, EmploymentType, WorkSchedule,
            IsPrimary, FilePath, FileName, FileSize
        ) VALUES (
            @CandidateID, @Title, @ResumeText, @Skills,
            @SalaryExpectation, @EmploymentType, @WorkSchedule,
            @IsPrimary, @FilePath, @FileName, @FileSize
        );
        
        DECLARE @NewResumeID INT = SCOPE_IDENTITY();
        
        -- Если у кандидата только одно резюме, делаем его основным
        IF @IsPrimary = 0 AND NOT EXISTS (
            SELECT 1 FROM Resumes WHERE CandidateID = @CandidateID AND IsPrimary = 1
        )
        BEGIN
            UPDATE Resumes SET IsPrimary = 1 WHERE ResumeID = @NewResumeID;
        END
        
        COMMIT TRANSACTION;
        SELECT @NewResumeID AS NewResumeID, 'Success' AS Status;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateVacancy]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Процедура для создания вакансии
CREATE PROCEDURE [dbo].[CreateVacancy]
    @EmployerID INT,
    @Position VARCHAR(255),
    @Description TEXT,
    @Requirements TEXT,
    @SalaryFrom DECIMAL(10,2) = NULL,
    @SalaryTo DECIMAL(10,2) = NULL,
    @EmploymentType VARCHAR(50) = NULL,
    @ExperienceRequired INT = NULL,
    @City VARCHAR(100) = NULL
AS
BEGIN
    INSERT INTO Vacancies (
        EmployerID, Position, Description, Requirements,
        SalaryFrom, SalaryTo, EmploymentType, ExperienceRequired, City
    ) VALUES (
        @EmployerID, @Position, @Description, @Requirements,
        @SalaryFrom, @SalaryTo, @EmploymentType, @ExperienceRequired, @City
    );
    
    SELECT SCOPE_IDENTITY() AS NewVacancyID;
END;
GO
/****** Object:  StoredProcedure [dbo].[RegisterCandidate]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Пример процедуры для регистрации соискателя
CREATE PROCEDURE [dbo].[RegisterCandidate]
    @Email VARCHAR(100),
    @Phone VARCHAR(20),
    @PasswordHash VARCHAR(255),
    @FullName VARCHAR(255),
    @Profession VARCHAR(100),
    @ExperienceYears INT,
    @Education VARCHAR(255)
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @RoleID INT = (SELECT RoleID FROM Roles WHERE RoleName = 'Candidate');
        DECLARE @NewUserID INT;
        
        INSERT INTO Users (RoleID, Email, Phone, PasswordHash)
        VALUES (@RoleID, @Email, @Phone, @PasswordHash);
        
        SET @NewUserID = SCOPE_IDENTITY();
        
        INSERT INTO Candidates (CandidateID, FullName, Profession, ExperienceYears, Education)
        VALUES (@NewUserID, @FullName, @Profession, @ExperienceYears, @Education);
        
        COMMIT TRANSACTION;
        SELECT @NewUserID AS NewUserID, 'Success' AS Status;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[RegisterEmployer]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Пример процедуры для регистрации работодателя
CREATE PROCEDURE [dbo].[RegisterEmployer]
    @Email VARCHAR(100),
    @Phone VARCHAR(20),
    @PasswordHash VARCHAR(255),
    @CompanyName VARCHAR(255),
    @INN VARCHAR(12),
    @ContactPerson VARCHAR(255),
    @Industry VARCHAR(100)
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @RoleID INT = (SELECT RoleID FROM Roles WHERE RoleName = 'Employer');
        DECLARE @NewUserID INT;
        
        INSERT INTO Users (RoleID, Email, Phone, PasswordHash)
        VALUES (@RoleID, @Email, @Phone, @PasswordHash);
        
        SET @NewUserID = SCOPE_IDENTITY();
        
        INSERT INTO Employers (EmployerID, CompanyName, INN, ContactPerson, Industry)
        VALUES (@NewUserID, @CompanyName, @INN, @ContactPerson, @Industry);
        
        COMMIT TRANSACTION;
        SELECT @NewUserID AS NewUserID, 'Success' AS Status;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchResumes]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Процедура для поиска резюме
CREATE PROCEDURE [dbo].[SearchResumes]
    @ProfessionKeyword VARCHAR(100) = NULL,
    @SkillsKeyword VARCHAR(255) = NULL,
    @MinExperience INT = NULL,
    @MaxSalaryExpectation DECIMAL(10,2) = NULL,
    @City VARCHAR(100) = NULL
AS
BEGIN
    SELECT 
        r.ResumeID,
        r.Title,
        c.FullName,
        c.Profession,
        c.ExperienceYears,
        r.Skills,
        r.SalaryExpectation,
        r.EmploymentType,
        r.CreatedDate
    FROM Resumes r
    JOIN Candidates c ON r.CandidateID = c.CandidateID
    JOIN Users u ON c.CandidateID = u.UserID
    WHERE r.IsVisible = 1 
    AND r.Status = 'Активно'
    AND u.IsActive = 1
    AND (@ProfessionKeyword IS NULL OR c.Profession LIKE '%' + @ProfessionKeyword + '%')
    AND (@SkillsKeyword IS NULL OR r.Skills LIKE '%' + @SkillsKeyword + '%')
    AND (@MinExperience IS NULL OR c.ExperienceYears >= @MinExperience)
    AND (@MaxSalaryExpectation IS NULL OR r.SalaryExpectation <= @MaxSalaryExpectation OR r.SalaryExpectation IS NULL)
    ORDER BY r.CreatedDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchVacancies]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Процедура для поиска вакансий
CREATE PROCEDURE [dbo].[SearchVacancies]
    @PositionKeyword VARCHAR(255) = NULL,
    @City VARCHAR(100) = NULL,
    @MinSalary DECIMAL(10,2) = NULL,
    @MaxExperience INT = NULL,
    @EmploymentType VARCHAR(50) = NULL
AS
BEGIN
    SELECT 
        v.VacancyID,
        v.Position,
        e.CompanyName,
        v.Description,
        v.SalaryFrom,
        v.SalaryTo,
        v.City,
        v.ExperienceRequired,
        v.EmploymentType,
        v.CreatedDate
    FROM Vacancies v
    JOIN Employers e ON v.EmployerID = e.EmployerID
    WHERE v.IsActive = 1
    AND (@PositionKeyword IS NULL OR v.Position LIKE '%' + @PositionKeyword + '%')
    AND (@City IS NULL OR v.City = @City)
    AND (@MinSalary IS NULL OR v.SalaryTo >= @MinSalary OR v.SalaryFrom >= @MinSalary)
    AND (@MaxExperience IS NULL OR v.ExperienceRequired <= @MaxExperience OR v.ExperienceRequired IS NULL)
    AND (@EmploymentType IS NULL OR v.EmploymentType = @EmploymentType)
    ORDER BY v.CreatedDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[ValidateLogin]    Script Date: 10.03.2026 9:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Процедура проверки входа
CREATE PROCEDURE [dbo].[ValidateLogin]
    @Email VARCHAR(100),
    @PasswordHash VARCHAR(255)
AS
BEGIN
    SELECT 
        u.UserID,
        u.Email,
        u.Phone,
        u.IsActive,
        r.RoleName,
        CASE 
            WHEN r.RoleName = 'Candidate' THEN c.FullName
            WHEN r.RoleName = 'Employer' THEN e.CompanyName
            WHEN r.RoleName = 'Admin' THEN a.FullName
        END AS DisplayName
    FROM Users u
    JOIN Roles r ON u.RoleID = r.RoleID
    LEFT JOIN Candidates c ON u.UserID = c.CandidateID
    LEFT JOIN Employers e ON u.UserID = e.EmployerID
    LEFT JOIN Admins a ON u.UserID = a.AdminID
    WHERE u.Email = @Email 
    AND u.PasswordHash = @PasswordHash
    AND u.IsActive = 1;
END;

GO
USE [master]
GO
