USE [master]
GO
/****** Object:  Database [InsuranceMedicalCompany]    Script Date: 16.04.2026 13:22:09 ******/
CREATE DATABASE [InsuranceMedicalCompany]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InsuranceMedicalCompany', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\InsuranceMedicalCompany.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InsuranceMedicalCompany_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\InsuranceMedicalCompany_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InsuranceMedicalCompany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InsuranceMedicalCompany]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[PassportNumber] [nvarchar](20) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[InspectorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inspectors]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspectors](
	[InspectorID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InspectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstitutionContracts]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstitutionContracts](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[InstitutionID] [int] NOT NULL,
	[ContractNumber] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceContracts]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceContracts](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[ContractNumber] [nvarchar](50) NOT NULL,
	[ClientID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Premium] [decimal](12, 2) NOT NULL,
	[IsPaid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceEvents]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceEvents](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NOT NULL,
	[ParentEventID] [int] NULL,
	[EventDate] [date] NOT NULL,
	[Diagnosis] [nvarchar](500) NOT NULL,
	[IsComplication]  AS (case when [ParentEventID] IS NOT NULL then (1) else (0) end) PERSISTED NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[ProvidedID] [int] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[InvoiceDate] [date] NULL,
	[IsPaid] [bit] NULL,
	[PaymentDate] [date] NULL,
	[TaxAmount] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalInstitutions]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalInstitutions](
	[InstitutionID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[INN] [nvarchar](12) NOT NULL,
	[AccountNumber] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InstitutionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProvidedServices]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProvidedServices](
	[ProvidedID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[ProvidedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProvidedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[RequestDate] [datetime] NULL,
	[DiagnosisRequest] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[InspectorID] [int] NOT NULL,
	[InstitutionID] [int] NOT NULL,
	[ReferralDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[InstitutionContractID] [int] NOT NULL,
	[ServiceName] [nvarchar](200) NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ClientsFull]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.1 Полная информация по клиентам
CREATE VIEW [dbo].[v_ClientsFull] AS
SELECT 
    c.LastName + ' ' + c.FirstName AS Client,
    c.Phone,
    ic.ContractNumber,
    ic.StartDate,
    ic.EndDate,
    ic.Premium,
    CASE WHEN ic.IsPaid = 1 THEN 'Оплачен' ELSE 'Не оплачен' END AS ContractStatus,
    i.LastName + ' ' + i.FirstName AS Inspector
FROM Clients c
JOIN InsuranceContracts ic ON c.ClientID = ic.ClientID
JOIN Inspectors i ON c.InspectorID = i.InspectorID;
GO
/****** Object:  View [dbo].[v_FinancialReport]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.3 Финансовый отчёт для бухгалтерии
CREATE VIEW [dbo].[v_FinancialReport] AS
SELECT 
    'Поступления по договорам' AS Type,
    SUM(Premium) AS Amount
FROM InsuranceContracts WHERE IsPaid = 1
UNION ALL
SELECT 
    'Оплачено ЛПУ',
    SUM(Amount)
FROM Invoices WHERE IsPaid = 1
UNION ALL
SELECT 
    'Налоги уплачено',
    SUM(TaxAmount)
FROM Invoices WHERE IsPaid = 1 AND TaxAmount IS NOT NULL
UNION ALL
SELECT 
    'Задолженность перед ЛПУ',
    SUM(Amount)
FROM Invoices WHERE IsPaid = 0;
GO
/****** Object:  View [dbo].[v_InspectorReport]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.4 Отчёт по инспекторам
CREATE VIEW [dbo].[v_InspectorReport] AS
SELECT 
    i.LastName + ' ' + i.FirstName AS Inspector,
    COUNT(DISTINCT c.ClientID) AS ClientsCount,
    COUNT(r.RequestID) AS RequestsProcessed,
    COUNT(CASE WHEN r.Status = 'Оплачен' THEN 1 END) AS PaidRequests
FROM Inspectors i
LEFT JOIN Clients c ON i.InspectorID = c.InspectorID
LEFT JOIN Requests r ON i.InspectorID = r.InspectorID
GROUP BY i.InspectorID, i.LastName, i.FirstName;
GO
/****** Object:  View [dbo].[v_InsuranceEventsFull]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.2 Страховые случаи с осложнениями
CREATE VIEW [dbo].[v_InsuranceEventsFull] AS
SELECT 
    e.EventID,
    c.LastName + ' ' + c.FirstName AS Client,
    e.EventDate,
    e.Diagnosis,
    CASE WHEN e.IsComplication = 1 THEN 'Осложнение' ELSE 'Первичный' END AS EventType,
    parent.Diagnosis AS PrimaryDiagnosis
FROM InsuranceEvents e
JOIN InsuranceContracts ic ON e.ContractID = ic.ContractID
JOIN Clients c ON ic.ClientID = c.ClientID
LEFT JOIN InsuranceEvents parent ON e.ParentEventID = parent.EventID;
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clients__45809E71800D3DD5]    Script Date: 16.04.2026 13:22:09 ******/
ALTER TABLE [dbo].[Clients] ADD UNIQUE NONCLUSTERED 
(
	[PassportNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Inspecto__1788CCAD560A17EE]    Script Date: 16.04.2026 13:22:09 ******/
ALTER TABLE [dbo].[Inspectors] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Institut__C51D43DA12AE8C36]    Script Date: 16.04.2026 13:22:09 ******/
ALTER TABLE [dbo].[InstitutionContracts] ADD UNIQUE NONCLUSTERED 
(
	[ContractNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Insuranc__C51D43DA92102831]    Script Date: 16.04.2026 13:22:09 ******/
ALTER TABLE [dbo].[InsuranceContracts] ADD UNIQUE NONCLUSTERED 
(
	[ContractNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contracts_ClientID]    Script Date: 16.04.2026 13:22:09 ******/
CREATE NONCLUSTERED INDEX [IX_Contracts_ClientID] ON [dbo].[InsuranceContracts]
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Events_ContractID]    Script Date: 16.04.2026 13:22:09 ******/
CREATE NONCLUSTERED INDEX [IX_Events_ContractID] ON [dbo].[InsuranceEvents]
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Events_Parent]    Script Date: 16.04.2026 13:22:09 ******/
CREATE NONCLUSTERED INDEX [IX_Events_Parent] ON [dbo].[InsuranceEvents]
(
	[ParentEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_IsPaid]    Script Date: 16.04.2026 13:22:09 ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_IsPaid] ON [dbo].[Invoices]
(
	[IsPaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_ProvidedID]    Script Date: 16.04.2026 13:22:09 ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_ProvidedID] ON [dbo].[Invoices]
(
	[ProvidedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MedicalI__C490CCF5CE17EB12]    Script Date: 16.04.2026 13:22:09 ******/
ALTER TABLE [dbo].[MedicalInstitutions] ADD UNIQUE NONCLUSTERED 
(
	[INN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Provided_RequestID]    Script Date: 16.04.2026 13:22:09 ******/
CREATE NONCLUSTERED INDEX [IX_Provided_RequestID] ON [dbo].[ProvidedServices]
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_EventID]    Script Date: 16.04.2026 13:22:09 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_EventID] ON [dbo].[Requests]
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Requests_Status]    Script Date: 16.04.2026 13:22:09 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_Status] ON [dbo].[Requests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160DC273429]    Script Date: 16.04.2026 13:22:09 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825BD8DA8140]    Script Date: 16.04.2026 13:22:09 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InsuranceContracts] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[ProvidedServices] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ProvidedServices] ADD  DEFAULT (getdate()) FOR [ProvidedDate]
GO
ALTER TABLE [dbo].[Requests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Requests] ADD  DEFAULT ('Новая') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Inspectors] FOREIGN KEY([InspectorID])
REFERENCES [dbo].[Inspectors] ([InspectorID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Inspectors]
GO
ALTER TABLE [dbo].[Inspectors]  WITH CHECK ADD  CONSTRAINT [FK_Inspectors_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Inspectors] CHECK CONSTRAINT [FK_Inspectors_Users]
GO
ALTER TABLE [dbo].[InstitutionContracts]  WITH CHECK ADD  CONSTRAINT [FK_InstitutionContracts_Institution] FOREIGN KEY([InstitutionID])
REFERENCES [dbo].[MedicalInstitutions] ([InstitutionID])
GO
ALTER TABLE [dbo].[InstitutionContracts] CHECK CONSTRAINT [FK_InstitutionContracts_Institution]
GO
ALTER TABLE [dbo].[InsuranceContracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[InsuranceContracts] CHECK CONSTRAINT [FK_Contracts_Clients]
GO
ALTER TABLE [dbo].[InsuranceEvents]  WITH CHECK ADD  CONSTRAINT [FK_Events_Contract] FOREIGN KEY([ContractID])
REFERENCES [dbo].[InsuranceContracts] ([ContractID])
GO
ALTER TABLE [dbo].[InsuranceEvents] CHECK CONSTRAINT [FK_Events_Contract]
GO
ALTER TABLE [dbo].[InsuranceEvents]  WITH CHECK ADD  CONSTRAINT [FK_Events_Parent] FOREIGN KEY([ParentEventID])
REFERENCES [dbo].[InsuranceEvents] ([EventID])
GO
ALTER TABLE [dbo].[InsuranceEvents] CHECK CONSTRAINT [FK_Events_Parent]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Provided] FOREIGN KEY([ProvidedID])
REFERENCES [dbo].[ProvidedServices] ([ProvidedID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Provided]
GO
ALTER TABLE [dbo].[ProvidedServices]  WITH CHECK ADD  CONSTRAINT [FK_Provided_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[Requests] ([RequestID])
GO
ALTER TABLE [dbo].[ProvidedServices] CHECK CONSTRAINT [FK_Provided_Request]
GO
ALTER TABLE [dbo].[ProvidedServices]  WITH CHECK ADD  CONSTRAINT [FK_Provided_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[ProvidedServices] CHECK CONSTRAINT [FK_Provided_Service]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[InsuranceEvents] ([EventID])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Event]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Inspector] FOREIGN KEY([InspectorID])
REFERENCES [dbo].[Inspectors] ([InspectorID])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Inspector]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Institution] FOREIGN KEY([InstitutionID])
REFERENCES [dbo].[MedicalInstitutions] ([InstitutionID])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Institution]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Contracts] FOREIGN KEY([InstitutionContractID])
REFERENCES [dbo].[InstitutionContracts] ([ContractID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Contracts]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[InsuranceContracts]  WITH CHECK ADD CHECK  (([Premium]>(0)))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[ProvidedServices]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD CHECK  (([Status]='Оплачен' OR [Status]='Направлен' OR [Status]='Новая'))
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD CHECK  (([Cost]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_AddService]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddService]
    @RequestID INT,
    @ServiceName NVARCHAR(200),
    @Quantity INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Находим услугу по имени
    DECLARE @ServiceID INT, @Cost DECIMAL(10,2);
    SELECT TOP 1 @ServiceID = s.ServiceID, @Cost = s.Cost
    FROM Services s
    JOIN InstitutionContracts ic ON s.InstitutionContractID = ic.ContractID
    JOIN Requests r ON r.InstitutionID = ic.InstitutionID
    WHERE s.ServiceName = @ServiceName AND r.RequestID = @RequestID;
    
    IF @ServiceID IS NULL
    BEGIN
        RAISERROR('Услуга не найдена', 16, 1);
        RETURN;
    END;
    
    -- Добавляем оказанную услугу
    INSERT INTO ProvidedServices (RequestID, ServiceID, Quantity, ProvidedDate)
    VALUES (@RequestID, @ServiceID, @Quantity, GETDATE());
    
    DECLARE @ProvidedID INT = SCOPE_IDENTITY();
    DECLARE @Amount DECIMAL(12,2) = @Cost * @Quantity;
    
    -- Создаём счёт
    INSERT INTO Invoices (ProvidedID, Amount, InvoiceDate)
    VALUES (@ProvidedID, @Amount, GETDATE());
    
    SELECT @ProvidedID AS ProvidedID, @Amount AS Amount;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_NewInsuranceEvent]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_NewInsuranceEvent]
    @ContractNumber NVARCHAR(50),
    @Diagnosis NVARCHAR(500),
    @InspectorID INT,
    @InstitutionID INT,
    @IsComplicationOf INT = NULL -- ID первичного случая, если это осложнение
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ContractID INT;
    SELECT @ContractID = ContractID FROM InsuranceContracts 
    WHERE ContractNumber = @ContractNumber AND IsPaid = 1;
    
    IF @ContractID IS NULL
    BEGIN
        RAISERROR('Договор не найден или не оплачен', 16, 1);
        RETURN;
    END;
    
    -- Создаём страховой случай
    INSERT INTO InsuranceEvents (ContractID, ParentEventID, EventDate, Diagnosis)
    VALUES (@ContractID, @IsComplicationOf, GETDATE(), @Diagnosis);
    
    DECLARE @EventID INT = SCOPE_IDENTITY();
    
    -- Создаём заявку и направление
    INSERT INTO Requests (EventID, DiagnosisRequest, Status, InspectorID, InstitutionID, ReferralDate)
    VALUES (@EventID, @Diagnosis, 'Направлен', @InspectorID, @InstitutionID, GETDATE());
    
    SELECT @EventID AS EventID, SCOPE_IDENTITY() AS RequestID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_PayInvoice]    Script Date: 16.04.2026 13:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_PayInvoice]
    @InvoiceID INT,
    @PaymentDate DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Invoices 
    SET IsPaid = 1, 
        PaymentDate = @PaymentDate,
        TaxAmount = Amount * 0.20 -- 20% налог
    WHERE InvoiceID = @InvoiceID;
    
    -- Обновляем статус заявки
    UPDATE r 
    SET r.Status = 'Оплачен'
    FROM Requests r
    JOIN ProvidedServices ps ON r.RequestID = ps.RequestID
    JOIN Invoices i ON ps.ProvidedID = i.ProvidedID
    WHERE i.InvoiceID = @InvoiceID;
    
    SELECT @@ROWCOUNT AS InvoicesPaid;
END;
GO
USE [master]
GO
