USE [Gp2]
GO
/****** Object:  Table [dbo].[Application_status]    Script Date: 20.10.2025 10:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_status](
	[ID_status] [int] IDENTITY(1,1) NOT NULL,
	[name_status] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Application_status] PRIMARY KEY CLUSTERED 
(
	[ID_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 20.10.2025 10:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[ID_car] [int] IDENTITY(1,1) NOT NULL,
	[car_brand] [nchar](50) NOT NULL,
	[Drivers_license] [nchar](10) NOT NULL,
	[Number_of_car] [nchar](10) NOT NULL,
	[ID_status] [int] NOT NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[ID_car] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 20.10.2025 10:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID_driver] [int] IDENTITY(1,1) NOT NULL,
	[Lastname] [nchar](10) NOT NULL,
	[Firstname] [nchar](10) NOT NULL,
	[Patronymic] [nchar](10) NOT NULL,
	[Drivers_license] [nchar](10) NOT NULL,
	[ID_car] [int] NOT NULL,
	[Readiness] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[ID_driver] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20.10.2025 10:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID_order] [int] IDENTITY(1,1) NOT NULL,
	[ID_users] [int] NOT NULL,
	[date_of_departure] [datetime] NOT NULL,
	[place_of_departure] [nchar](50) NOT NULL,
	[Destination] [nchar](50) NOT NULL,
	[Description] [nchar](100) NOT NULL,
	[ID_status] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20.10.2025 10:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID_role] [int] IDENTITY(1,1) NOT NULL,
	[name_role] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 20.10.2025 10:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[ID_shipments] [int] IDENTITY(1,1) NOT NULL,
	[ID_driver] [int] NOT NULL,
	[Arrival_date] [datetime] NOT NULL,
	[ID_status] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[ID_order] [int] NOT NULL,
 CONSTRAINT [PK_Shipments] PRIMARY KEY CLUSTERED 
(
	[ID_shipments] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_cars]    Script Date: 20.10.2025 10:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_cars](
	[ID_status] [int] IDENTITY(1,1) NOT NULL,
	[status_car] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Status_cars] PRIMARY KEY CLUSTERED 
(
	[ID_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_orders]    Script Date: 20.10.2025 10:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_orders](
	[ID_status] [int] IDENTITY(1,1) NOT NULL,
	[status] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Status_orders] PRIMARY KEY CLUSTERED 
(
	[ID_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.10.2025 10:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID_users] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nchar](50) NOT NULL,
	[Password] [nchar](10) NOT NULL,
	[Lastname] [nchar](10) NOT NULL,
	[Firstname] [nchar](10) NOT NULL,
	[Patronymic] [nchar](10) NOT NULL,
	[Phone_number] [decimal](11, 0) NOT NULL,
	[ID_role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID_users] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Application_status] ON 

INSERT [dbo].[Application_status] ([ID_status], [name_status]) VALUES (1, N'На рассмотрении')
INSERT [dbo].[Application_status] ([ID_status], [name_status]) VALUES (2, N'Принята        ')
SET IDENTITY_INSERT [dbo].[Application_status] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([ID_car], [car_brand], [Drivers_license], [Number_of_car], [ID_status]) VALUES (1, N'MAN                                               ', N'CE1       ', N'АУ8339    ', 1)
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([ID_driver], [Lastname], [Firstname], [Patronymic], [Drivers_license], [ID_car], [Readiness]) VALUES (2, N'Судариков ', N'Александр ', N'Евгеньевич', N'CE1       ', 1, N'1         ')
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID_order], [ID_users], [date_of_departure], [place_of_departure], [Destination], [Description], [ID_status]) VALUES (2, 2, CAST(N'2009-10-22T00:00:00.000' AS DateTime), N'2009-10-28                                        ', N'Лукоянов                                          ', N'Саратов                                                                                             ', 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID_role], [name_role]) VALUES (1, N'admin     ')
INSERT [dbo].[Roles] ([ID_role], [name_role]) VALUES (2, N'client    ')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([ID_shipments], [ID_driver], [Arrival_date], [ID_status], [Price], [ID_order]) VALUES (4, 2, CAST(N'2009-10-22T00:00:00.000' AS DateTime), 1, 13700.0000, 2)
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
SET IDENTITY_INSERT [dbo].[Status_cars] ON 

INSERT [dbo].[Status_cars] ([ID_status], [status_car]) VALUES (1, N'В пути    ')
INSERT [dbo].[Status_cars] ([ID_status], [status_car]) VALUES (2, N'В ремонте ')
INSERT [dbo].[Status_cars] ([ID_status], [status_car]) VALUES (3, N'В резерве ')
SET IDENTITY_INSERT [dbo].[Status_cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Status_orders] ON 

INSERT [dbo].[Status_orders] ([ID_status], [status]) VALUES (1, N'В ожидании')
INSERT [dbo].[Status_orders] ([ID_status], [status]) VALUES (2, N'В пути    ')
INSERT [dbo].[Status_orders] ([ID_status], [status]) VALUES (3, N'Завершен  ')
SET IDENTITY_INSERT [dbo].[Status_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID_users], [Login], [Password], [Lastname], [Firstname], [Patronymic], [Phone_number], [ID_role]) VALUES (1, N'admin                                             ', N'123       ', N'Мышин     ', N'Дмитрий   ', N'Николаевич', CAST(89063699548 AS Decimal(11, 0)), 1)
INSERT [dbo].[Users] ([ID_users], [Login], [Password], [Lastname], [Firstname], [Patronymic], [Phone_number], [ID_role]) VALUES (2, N'123                                               ', N'123       ', N'1         ', N'1         ', N'1         ', CAST(0 AS Decimal(11, 0)), 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Status_cars] FOREIGN KEY([ID_status])
REFERENCES [dbo].[Status_cars] ([ID_status])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Status_cars]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_Cars] FOREIGN KEY([ID_car])
REFERENCES [dbo].[Cars] ([ID_car])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_Cars]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Application_status] FOREIGN KEY([ID_status])
REFERENCES [dbo].[Application_status] ([ID_status])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Application_status]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([ID_users])
REFERENCES [dbo].[Users] ([ID_users])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Drivers] FOREIGN KEY([ID_driver])
REFERENCES [dbo].[Drivers] ([ID_driver])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Drivers]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Orders] FOREIGN KEY([ID_order])
REFERENCES [dbo].[Orders] ([ID_order])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Orders]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Status_orders] FOREIGN KEY([ID_status])
REFERENCES [dbo].[Status_orders] ([ID_status])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Status_orders]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([ID_role])
REFERENCES [dbo].[Roles] ([ID_role])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
